---
########## This clang-format file is tested on:
########## clang-format version 19.1.7 (https://github.com/llvm/llvm-project.git cd708029e0b2869e80abe31ddb175f7c35361f90)
BasedOnStyle: Google
AccessModifierOffset: -2
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: None #TopLevelDefinitions
AlwaysBreakBeforeMultilineStrings: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: false
  IndentBraces: false
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeColon
ReflowComments: true
ColumnLimit: 78
Cpp11BracedListStyle: true
PackConstructorInitializers: Never
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 4
DerivePointerAlignment: false
PointerAlignment: Right
IndentWidth: 2
TabWidth: 2
UseTab: Never
SpaceBeforeBinaryOperators: false 
BreakBeforeBinaryOperators: None 
BreakBeforeLessLess: None 
BreakFunctionDefinitionParameters: false
IndentCaseLabels: false
KeepEmptyLinesAtTheStartOfBlocks: true
KeepEmptyLinesAtTheEndOfBlocks: true
ReferenceAlignment: Right
#NamespaceIndentation: All
AllowShortFunctionsOnASingleLine: InlineOnly
#SpaceAroundPointerQualifiers: SAPQ_Default
OverEmptyLines: 2
MaxEmptyLinesToKeep: 2
KeepEmptyLines:
  AtEndOfFunction: true
  AtStartOfFunction: true
NamespaceIndentation: All
SpacesInLineCommentPrefix:
  Minimum: 0
#ReflowComments: true
SortIncludes: false
SpaceBeforeParens: ControlStatements
SpacesInAngles: false
SpacesInContainerLiterals: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
BreakAfterReturnType: None
Standard: Cpp11